<style>

</style>
<section class='w3-container'>
		<h2 style='text-align: center'>
			Job Skills Tracks
		</h2>
		
		<p>Labs.Earth's 8 hour bootcamps provide the professional with focused training on applied skills; what you need to know today and usable immediately. Bootcamps combine course
		presentation with instructor led workshops. Bootcamp size is forty attendees with two instructors.
		</p>
		
		<p><b>Pricing</b>: $80/bootcamp (fully discounted)</p>
		<hr/>
		
		<h3>Python Programming – Get Started (September 2017)</h3>
		<p>
		This job skills track teaches Python programming and programming fundaments to professionals with limited programming experience. This track covers introduction to object oriented programming, coding constructs in Python, with an introduction to coding constructs and libraries used in machine learning.
		</p><p>
		<i>This track is ideally suited for the professional wanting to build a more solid base in programming skills coupled with experience in Python, and basic Python constructs and libraries for machine learning.
		</i><p>
		<h4>Syllabus</h4>
		<p>
		<ul>
		<li>Whiteboarding - 6 hrs</li>
		<h5><a href='https://github.com/andrewferlitsch/Portland-Data-Science-Group/blob/master/Presentations/Whiteboarding.pptx' target='_blank'>Whiteboarding Coding Challenges in Python</a></h5>
		<div class='presentation'>
			<p>
			<i>Abstract</i>:  This workshop teaches basic algorithms in whiteboarding interviews. All the code examples are in Python and the course has dual purpose teaching basic Python programming. 
			The course covers fundamentals. Coding challenges covered are:
			<ul>
				<li>Prime Numbers</li>
				<li>Fibonanci Sequences</li>
				<li>Dynamic Arrays</li>
				<li>Queues</li>
				<li>Stacks</li>
				<li>Heap</li>
				<li>StackChain</li>
				<li>Towers of Hanoi</li>
				<li>Binary Tree</li>
				<li>Binary Tree Traversals</li>
				<li>BFS Traversals</li>
				<li>DFS Traversals</li>
				<li>Binary Tree Max/Min Depth</li>
				<li>Binary Tree Max/Min Value</li>
				<li>Binary Search Tree</li>
				<li>Arithmetic Emulation</li>
				<li>GCD</li>
				<li>LCM</li>
				<li>Bubble Sort</li>
				<li>Insertion Sort</li>
				<li>Quick Sort</li>
				<li>Merge Sort</li>
				<li>Hashing</li>
				<li>Hashing with Linear Probing</li>
				<li>Reverse String</li>
				<li>Palindrome</li>
				<li>Character Count</li>
				<li>Duplicate Character</li>
			</ul>
			</p>
			<p><i>Level</i>: Fundamental</p>
			<p>
			<i>Requirements</i>: Some basic programming knowledge is preferred.
			</p>
			<hr/>
		</div>
		<li>OPP Principles - 1/2 hr
			<h5><a href='https://github.com/andrewferlitsch/Portland-Data-Science-Group/blob/master/Presentations/OOP.pptx' target='_blank'>OOP Principles</a></h5>
			<div class='presentation'>
				<p>
				<i>Abstract</i>: This PDSG workshop covers the principles of OOP programming. Concepts covered are class, object, data encapsulation, inheritance, and polymorphism.
				</p>
				<p><i>Level</i>: Fundamental</p>
				<p>
				<i>Requirements</i>: One should have some knowledge of programming.
				</p>
				<hr/>
			<div>
		</li>
		<li>Python OOP Programming - 1.2 hr
			<h5><a href='https://github.com/andrewferlitsch/Portland-Data-Science-Group/blob/master/Presentations/Python%20-%20OOP.pptx' target='_blank'>Python OOP Programming</a></h5>
			<div class='presentation'>
				<p>
				<i>Abstract</i>: This PDSG workshop covers the basics of OOP programming in Python. Concepts covered are class, object, scope, method overloading and inheritance.
				</p>
				<p><i>Level</i>: Fundamental</p>
				<p>
				<i>Requirements</i>: One should have some knowledge of programming.
				</p>
				<hr/>
			<div>
		</li>
		<li>Graph Theory - 1 hr
			<h5><a href='https://github.com/andrewferlitsch/Portland-Data-Science-Group/blob/master/Presentations/AI%20-%20Graph%20Search.pptx' target='_blank'>Graph Theory</a></h5>
			<div class='presentation'>
				<p>
				<i>Abstract</i>: This PDSG workship introduces basic concepts on Tree and Graph Theory. It covers topics for level-first search (BFS), inorder, preorder and postorder depth first search (DFS), 
				depth limited search (DLS), iterative depth search (IDS), as well as tri-coding to prevent revisiting nodes in a cyclic paths in a graph. 
				Examples are given pictorially, pseudo code and in Python. 
				</p>
				<p><i>Level</i>: Fundamental</p>
				<p>
				<i>Requirements</i>: No prior programming knowledge is required.
				</p>
				<hr/>
			</div>
		</li>
		</ul>
		<div class='w3-container'>
			<p style='color: darkblue'>
			To reserve a spot at this bootcamp, enter your name and email below.
			</p>
			Name : <input type="text" ng-model="name" class='w3-input'>
			Email: <input type="email" ng-model="email" class='w3-input'>
			<br/>
			<button class='w3-btn w3-round w3-large w3-blue' ng-click='bootcamp1()'>Send</button>
			</div>
		</p>
		
		<h3>Python Programming – Standard (September 2017)</h3>
		<p>
		This job skills track teaches Python programming to professionals with prior programming experience in another programming language.  This track covers in depth programming and hands on workshop on applying your existing programming expertise to Python, with a more comprehensive introduction to libraries used in machine learning. 
		</p>
		<p><i>This track is ideally suited for the professional wanting to add Python to their programming skills background coupled with how to apply these constructs and libraries in machine learning.
		</i><p>

		<h3>Machine Learning – Get Started (October 2017)</h3>
		<p>
		This job skills track teaches the background to machine learning to professionals with or without prior programming experience in another programming language. This track covers understanding dataset preparation, training set preparation, supervised vs. unsupervised learning, linear regression, decision tree classification, random forest, ensemble methods, and evaluating the accuracy of your trained model.
		</p>
		<p><i>
		This track is ideally suited for the professional wanting to apply their existing Python programming skills to machine learning basics coupled with the knowledge for knowing which training models to apply to various industry problems.
		</i></p>
		
		<h3>Machine Learning – Standard (October 2017)</h3>
		<p>
		This job skills track teaches applying machine learning to a variety of industry problems with prior programming experience in Python. This track covers in depth applying machine learning models in various ML frameworks: Sckit-Learn, TensorFlow, Torch, Thenao.
		</p>
		<p><i>
		This track is ideally suited for the professional wanting to apply their existing Python programming skills and basic knowledge of machine learning to a wide variety of frameworks coupled with a deeper understanding of knowing which training models to apply to various industry problems.
		</i></p>
		
		<h3>Machine Learning – Neural Networks (TBA)</h3>
		<p>This job skills track teaches advanced machine learning using neural networks and applying to a wider variety of industry problems with prior programming and machine learning experience in Python. This track covers in depth applying neural network machine learning models: Deep Neural Networks, Convolution Networks, and Recurrent Neural Networks.
		</p>
		<p><i>This track is ideally suited for the professional wanting to apply their existing Python programming skills and machine learning experience to computer vision, facial recognition, bioscience, robotics, and autonomous vehicles.
		</i></p>
		
		<h3>Machine Learning – ML as a Service</h3>
		<p>This job skills track teaches using Machine Learning as a Service by the major industry providers, Amazon, Microsoft, and Google. This course will cover MLaaS service’s: Amazon Rekognition, Google Cloud Machine Learning Engine, and Microsoft’s Cognitive Services.
		</p>
		<p><i>This track is ideally suited for the professional wanting to immediately incorporate and apply using machine learning into products using existing AI services, without requiring a deep understanding of machine learning algorithms and methods.
		</i></p>
</section>
